.container {
  display: flex;
}

.cat-info-pict {
  display: flex;
}

.cat-picture {
  width: 300px;
  height: auto;
}

.cat-info-desc {
  margin-left: 10px;
}

.breed-select {
  margin-bottom: 10px;
}

/* .loader,
.error {
display: none;
} */

.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

